<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="JobsIEConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=JobsIE;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="JobsIEEntities" connectionString="metadata=res://*/JobsIE.csdl|res://*/JobsIE.ssdl|res://*/JobsIE.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=JobsIE;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="102400" executionTimeout="360" />
  </system.web>
</configuration>